.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(#6d00f1 1.00px, #ceeaf9 1.00px);
  background-size: 21px 21px;
}
.title h1{
  font-size: 42px;
  background: -webkit-linear-gradient(#02fbfb, #07c9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title h1:hover{
  
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



